.DS_Store
.localized

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.python-version

# Node / Next
node_modules/
.next/
out/
dist/
*.log

# Env
.env

# Editor
.vscode/
.idea/

